* {
    box-sizing: border-box
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
}

body{
    font-family: Calibri;
    font-size: 16px;
    margin: 0 0;
}

.wrapper{
    width: 100%;
    height: calc(100vh);
    margin: 0px 0px;
    padding: 0px 0px;

}
.container {
    overflow: auto;
    border-radius: 12px;
    border: 1px solid #f1f1f1;
    position: absolute;
    left: 30%;
    top: 30%;
    margin-left: -150px;
    margin-top: -150px;
    min-width: 800px;
}

details{
    border: 1px solid #000;
    border-radius: 5px;

}
.header{
    display: grid;
    grid-gap: 1em;
    margin-bottom: 30px;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}

.topNav{
    display: grid;
    grid-gap: 1em;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    padding: 0px 0 30px 0;
}

.content{
    display: grid;
    grid-gap: 2px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
}

.content:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}


.noteImportance{
    width: 120px;
}

.noteDates {
    grid-column:1;
    grid-row: 2;
    width: 200px;
}

textarea {
    grid-column:2;
    grid-row: 2;
    border: black solid 1px;
    border-radius: 5px;
    width: 300px;
    height: auto;
    box-sizing: border-box;
}

.noteTitle{
    width: 350px;
    height: 40px;
}

.noteEdit{
    grid-column: 4;
    grid-row: 1 / 3;
    width: 100px;
}


