* {
    box-sizing: border-box
}

input:focus {
    outline:none !important;
}

html,body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.mainContainer {

   max-width: 920px;
   margin: 0px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.topNav{
    display: flex;
    justify-content: space-between;
}

.top-line, .bottom-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 20px 20px;

}

.sorting-buttons button{
    margin-right: 20px;
}

.noteImportance{
    flex: 2;
    text-align: right;
}

.noteTitle{
    flex: 4;
}

.noteDate {
    flex: 1;
}

textarea {
}

.is-finished{
    flex: 1;
}

.note-details{
    flex: 4;
}

.note-buttons{
    flex: 2;
    text-align: right;
}


